* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  line-height: 1;
  font-weight: 500;
  background-color: hsl(0, 0%, 98%);
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 5rem;
  margin-bottom: 5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.navigations {
  display: flex;
  align-items: center;
}

.website-nav {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.menu-open,
.menu-close {
  display: none;
}

.btn--website {
  font-family: "Epilogue", sans-serif;
  border: none;
  background: none;
  cursor: pointer;
  color: hsl(0, 0%, 41%);
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: hsl(0, 0%, 41%);
  cursor: pointer;
}

.dropdown--features {
  position: relative;
}

.dropdown--Company {
  position: relative;
}

.CTA-nav {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-left: 73rem;
  cursor: pointer;
}

.btn {
  font-family: "Epilogue", sans-serif;
  border: none;
  background: none;
  color: hsl(0, 0%, 41%);
}

.btn--register {
  padding: 1.2rem 2rem;
  border: 1.8px solid hsl(0, 0%, 8%);
  border-radius: 1.1rem;
  cursor: pointer;
}

/* Hero Section */
.container {
  max-width: 115rem;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.hero-header {
  width: 77%;
  font-size: 6.6rem;
  margin-bottom: 6rem;
}
.hero-text {
  width: 90%;
  font-size: 1.9rem;
  color: hsl(0, 0%, 41%);
  line-height: 1.5;
  margin-bottom: 5rem;
}

.btn-learn {
  width: 13rem;
  padding: 1.4rem 2.1rem;
  border-radius: 1.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1.6px solid hsl(0, 0%, 98%);
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  margin-bottom: 8.6rem;
  cursor: pointer;
}

.client-logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
}

.hero-image-box {
  background-image: url(images/image-hero-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 35%;
  height: 100%;
  justify-items: center;
}

/* Hover Effects */
.btn:hover,
.btn--website:hover,
.btn-learn:hover,
.dropdown:hover {
  color: hsl(0, 0%, 8%);
}

.btn-learn:hover {
  border: 1.6px solid hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
}

/* Dropdown */
.dropdown-feature,
.dropdown-company {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(20, 20, 20, 0.15);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.dropdown-feature {
  position: absolute;
  top: 3rem;
  right: 0;
}
.dropdown-company {
  position: absolute;
  top: 3rem;
  right: -35%;
}

.drop-feat {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.drop-feat p {
  font-size: 1.3rem;
}

.close-arrow {
  margin-left: -1.8rem;
}

.hidden {
  display: none;
}

/* Responsive Design - Mobile 375px */

@media (max-width: 375px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 5rem;
    margin-bottom: 2rem;
    overflow: hidden;
  }

  .logo {
    align-self: flex-start;
    margin-top: 2.6rem;
    margin-left: 2.6rem;
  }

  .menu-open {
    display: block;
    margin-top: -0.6rem;
    margin-left: 20rem;
  }

  .menu-close {
    display: block;
    margin-top: -0.6rem;
    margin-left: 20rem;
    z-index: 1000;
  }

  .website-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.6rem;
    margin-bottom: 5rem;
    padding-left: 2.6rem;
  }

  .CTA-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 2rem;
    margin-left: 0;
    cursor: pointer;
    width: 100%;
    padding: 0 2rem;
  }

  .btn--register {
    width: 100%;
  }

  .navigations {
    background-color: hsl(0, 0%, 98%);
    height: 100rem;
    width: 65%;
    padding-top: 8rem;

    margin-top: -11rem;
    z-index: 10;
    align-self: flex-end;
    margin-right: -25rem;
    margin-bottom: -92rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown-feature,
  .dropdown-company {
    position: static;
    grid-column: 1 / -1;
  }

  .dropdown--features,
  .dropdown--Company {
    justify-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .dropdown-feature,
  .dropdown-company {
    background-color: hsl(0, 0%, 98%);
    padding: 2rem;
    box-shadow: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
  }

  .container {
    max-width: 35rem;
    height: 100%;
    flex-direction: column-reverse;
    gap: 6rem;
  }

  .hero-text-box {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .hero-header {
    width: 100%;
    font-size: 3.6rem;
    margin-bottom: 2.6rem;
  }

  .hero-image-box {
    background-image: url(images/image-hero-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 108%;
    height: 30rem;
    justify-items: center;
  }

  .hero-text {
    width: 95%;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  .btn-learn {
    margin-bottom: 4.6rem;
  }

  .client-logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 9rem;
  }

  .client-logo {
    width: 21%;
    /* height: auto; */
  }

  .hidden {
    display: none;
  }
}
